name: Release (Manual)

on:
  # Enable execution directly from Actions page
  workflow_dispatch:
    inputs:
      bump-version:
        description: 'Bump Level?'
        type: choice
        options:
          - 'major'
          - 'minor'
          - 'patch'
          - 'prerelease'
        required: true
      as-prerelease:
        description: 'As pre-release?'
        type: boolean
        required: true
        default: false


# default token permissions = none
permissions: {}


jobs:

  validate:
    uses: ./.github/workflows/validate.yml
    permissions: {}
    secrets: {}


  release:
    name: Semantic Release
    concurrency: release
    runs-on: ubuntu-latest
    if: github.repository == 'python-semantic-release/publish-action'
    needs:
      - validate

    permissions:
      contents: write

    steps:
      # Note: we need to checkout the repository at the workflow sha in case during the workflow
      # the branch was updated. To keep PSR working with the configured release branches,
      # we force a checkout of the desired release branch but at the workflow sha HEAD.
      - name: Setup | Checkout Repository at workflow sha
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd  # v5.0.1
        with:
          fetch-depth: 0
          ref: ${{ github.sha }}

      - name: Setup | Force correct release branch on workflow sha
        run: |
          git checkout -B ${{ github.ref_name }}

      - name: Release | Python Semantic Release
        id: release
        uses: python-semantic-release/python-semantic-release@02f2a5c74dbb6aa2989f10fc4af12cd8e6bf025f  # v10.5.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          verbosity: 2
          config_file: releaserc.toml
          force: ${{ github.event.inputs.bump-version }}
          prerelease: ${{ github.event.inputs.as-prerelease }}
          changelog: false
